/* Prevent text selection */
body, ul, li {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Nintendo-themed CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #e60012; /* Nintendo red */
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Buttons styled in Nintendo theme */
button {
    background-color: #e60012; /* Nintendo red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    font-size: 1.2em;
}

button:hover {
    background-color: #cc000f;
}

#exportButton {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

/* Folder and file list styles */
ul.folderContents {
    list-style-type: none;
    padding-left: 20px;
}

.folder-item {
    margin-bottom: 10px;
}

.folder-name {
    cursor: pointer;
}

/* Highlight selected folders/files  #fbe9e7; #F4D03F 99ccff*/
.highlighted {
    background-color: #99ccff;
}

/* Styling for files */
.fileItem {
    margin-bottom: 5px;
    color: #555;
    font-style: italic;
}

/* Toggle buttons for expanding folder contents */
.toggle-btn {
    background-color: #e60012;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

.toggle-btn:hover {
    background-color: #cc000f;
}

.toggle-btn-end {
    background-color: #28A745; /* Different color for smaller buttons */
    color: white;
    border: none;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
}

.toggle-btn-end:hover {
    background-color: #218838;
}

/* Info box */
#info {
    position: fixed; /* Fixes the position on the screen */
    top: 20px; /* Distance from the top of the screen */
    right: 20px; /* Closer to the right edge of the screen */
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #e60012; /* Nintendo red border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: right;
    z-index: 1000; /* Ensures it stays on top of other elements */
}


/* Adjusting for mobile responsiveness */
@media screen and (max-width: 768px) {
    #info {
        right: 5px;
        top: 5px;
        max-width: 200px;
    }
}

.highlighted-items {
    position: fixed;
    top: 300px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #e60012; /* Nintendo red border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 400px; /* Limits the height */
    overflow-y: auto; /* Adds vertical scrollbar if content overflows */
    z-index: 1000; /* Ensures it stays on top of other elements */
    font-size: 9.5px;
}


.highlighted-items h3 {
    margin: 0 0 10px 0;
    color: #e60012; /* Nintendo red */
}

.highlighted-items ul {
    list-style-type: none;
    padding-left: 0;
}

.highlighted-items li {
    margin-bottom: 5px;
    color: #333; /* Adjust as needed */
}
